[Desktop Entry]
Version=1.0
Type=Application
Name=Monochrome Music
Comment=Tidal Client in Docker
Exec=chromium --app=https://monochrome.tf/
Icon=multimedia-audio-player
Categories=AudioVideo;Audio;
Terminal=false
StartupWMClass=localhost
Icon=/home/matt/.local/share/applications/monochrome.svg
